body {
  min-height: 100vh;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.rating-stars {
  color: rgb(239, 239, 10);
}

.product-item {
  margin: auto;
  max-width: 300px;
  cursor: pointer;
}

.product-item:hover {
  transform: scale(1.1);
}

.footer-items h5 {
  color: #fffefe;
  font-size: 1.2rem;
}

.footer-items ul {
  list-style: none;
  padding: 0;
  font-size: 0.8rem;
}

.footer-items a {
  color: #ccc;
  text-decoration: none;
}

.footer-items a:hover {
  text-decoration: underline;
}

.breadcrumb {
  background-color: #eee;
}

.product-small img {
  border: 1px solid black;
  max-width: 10rem;
  margin: 6px;
}

.cart-item {
  border: 1px solid grey;
}

.order {
  border: 1px solid gray;
}

.close i {
  font-size: 1.5rem;
  height: 35px;
}

.close i:hover {
  color: red;
}

.login-box {
  background-color: #d0d0d0;
  border-radius: 20px;
  padding: 2rem;
}

.success-icon {
  font-size: 10rem;
}

#carouselExampleDark img {
  max-height: 90vh;
}

.toast {
  top: -50px;
}

.toast.show {
  top: 0px;
}

a.logo {
  text-decoration: none;
  color: black;
}

.color-label {
  border-radius: 50% !important;
  margin: 5px;
}

.color-label i {
  opacity: 0;
}

.btn-check:checked+.color-label i {
  opacity: 1;
}

.text-small {
  font-size: 0.9rem;
}

.accordion-body {
  font-size: 0.8rem;
  color: grey;
}

.accordion-button {
  padding: 8px;
  background-color: #ccc;
}

.accordion-button:not(.collapsed) {
  background-color: black;
  color: white;
}

.breadcrumb-item a {
  text-decoration: none;
}

.cart-badge {
  position: relative;
  top: -13px;
  left: -10px;
}

.search-form input,
.search-form button {
  border-radius: 0;
}

.nav-item:hover {
  background-color: #ffffff33;
}

a.dropdown-item {
  color: white !important;
  text-decoration: none;
}

a.dropdown-item:hover {
  color: black !important;
  text-decoration: none;
}

.card-text.price {
  color: orangered;
  font-weight: bolder;
}

.like,
.liked {
  z-index: 10;
  top: 0.4rem;
  left: 1.4rem;
  font-size: 2rem;
}

.liked {
  opacity: 0;
  z-index: 11;
}

.like:hover {
  opacity: 0;
}

.liked:hover {
  opacity: 1;
  color: red;
}

.img-height {
  height: 40vh;
}

.subscribe input,
.subscribe button {
  border-radius: 0;
}

.social-icons i {
  font-size: 1.5rem;
  width: 24px;
  height: 24px;
}

.social-icons i:before {
  vertical-align: text-top;
  top: -0.2rem;
  position: relative;
}

.social-icons button {
  border-radius: 50% !important;
  width: 2.4rem;
  height: 2.4rem;
  padding: 5px;
}

.link{
  cursor : pointer;
  text-decoration: underline;
}